:root {
    --bg-color-header: #f6f8fa;
    --borderWidth-thin: max(1px, 0.0625rem);
    --color-border-default: #d0d7de;
    font-family: Helvetica;
}

.header {
    height: 60px;
    width: 100%;
    background-color: var(--bg-color-header);
    box-shadow: inset 0 calc(var(--borderWidth-thin, 1px)*-1) var(--color-border-default);
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.header img {
    max-width: 35px;
    max-height: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.content {
    margin-top: 50px;
}

.services-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.service {
    font-size: 12pt;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px;
}

.service img {
    max-height: 75px;
    max-width: 75px;
    margin-bottom: 5px;
}